body {
  background-color: #f0f8ff;
  font-family: "Noto Sans TC", sans-serif;
  padding: 2rem;
}

h1 {
  color: rgb(235, 120, 58);
  font-size: 2rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005f73;
}
